.App {
  text-align: center;
}
body{
  background-color: #800080
}
Header {
padding-top: 10px; 
padding-bottom: 10px;
  background-color:grey;
}
ol li {
  list-style-type: none;
  font-size: 1.5em;
}
ul li{
  font-size: 1.5em;
  font-weight: bolder;
  display: inline;
  padding: 50px;
  margin-left: 0;
}
.active {
  color: orange;
  text-decoration: none;
}
.box {
  margin: auto;
  width: 90%;
  display:flex;
  flex-direction: row;
  flex-wrap:  wrap;

}
.box > div {
  border: 1px solid purple;
  background-color: rgb(90, 79, 117);
  min-width: 31%;
  padding: 10px;
}
.box > div:nth-of-type(odd){
 background-color:rgb(131, 108, 130);
 border: 1px solid purple;
}
h2 {
  color: blue;
}
nav > div {
  display: inline;
  padding: 10px;
  color:orangered;
  font-weight: bold;
}
.detail {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column-reverse;
}
.detail > div{
  background-color:rgb(90, 79, 117);
  padding: 1em;
 }
.detail > div:nth-of-type(odd){
  background-color:rgb(131, 108, 130);
 }
span {
  color: gold;
}

li button{
  background-color: aquamarine;
  display: block;
  padding: 20px;
  width: 400px;
  margin-left: 0;
  margin-bottom: 10px;
}

.search-form{
  width:50%;
  padding: 10px;
  margin: auto;
  background-color: lightgray;
  border:1px solid #ccc;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
