.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Loading-logo {
    animation: Loading-logo-spin infinite 1s linear;
    align-items: center;
    width: 40px;
  }
}

@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.isLoading{
  font-size: 36px;
}

.header-content {
  height: 60px;
  position: static;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 36px;
  color: white;
}

#pokeball {
  width: 40px;
  margin: 20px;
}

.header-button{
  background-color: grey;
  border: none;
  color: white;
  margin-left: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.construction{
  padding: 50px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#pokeball-big {
  width: 80px;
  margin: 20px;
}
